<?xml version="1.0" ?>
<nlog autoReload="true">
    <targets>
        <target name="database" type="Database">

            <dbprovider>mssql</dbprovider>

            <!-- database connection parameters -->
            <!-- alternatively you could provide a single 'connectionstring' parameter -->

            <dbhost>129.16.213.108\SQLEXPRESS</dbhost> 
            <dbdatabase>apollo</dbdatabase>
            <dbusername>apollo</dbusername>
            <dbpassword>apollo</dbpassword>

            <commandText>
                insert into LogTable(time_stamp,level,logger,message,method,class,exception) values(@time_stamp, @level, @logger, @message,@method,@class,@exception);
            </commandText>

            <parameter name="@time_stamp" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@method" layout="${callsite:methodName=True}" />
            <parameter name="@class" layout="${callsite:className=True}" />
            <parameter name="@exception" layout="${exception:format=Message,Method,StackTrace}" />
        </target>
    </targets>

    <rules>      
        <logger name="*" minlevel="Info" appendTo="database" />
      <logger name="WEB" minlevel="Info" appendTo="database" />
      <logger name="WS" minlevel="Trace" appendTo="database" />
    </rules>
</nlog>
