@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#D5D08E;
	

}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
/* ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}

.spacer{
	clear:both; 
	font-size:0; 
	line-height:5px;
}
/*------------------------------------------------main--------------------*/
#mainFrame{
	width:948px;
	margin:10px auto 0 auto;
}
#topBox{
	width:948px;
	background:#D35406;
	color:#FFBF98;
	float:left;
	margin:auto auto 5px auto;
}


#topBox p.rightTxt1{
	display:block;
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	color:#EEEABA;
	background-color:inherit;
	padding:0 0 5px 0;
}
#topBox img.img1
{
	display:block;
	font-size:0;
	line-height:0;
	float:left;
	margin:10px 10px 10px 10px;
	/*border:dashed 1px #000000;*/
}
#topBox h2
{
    display: block;
    font: italic 28px/28px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: inherit;
    margin: 0 0 12px 0;
    font-weight: bold;
}
.frame
{
    background-color:#E2DEA4;
    margin:auto auto 5px auto;
}
.errorMessage
{
    background-color:Red;
    color:White;
}
#pagePath
{
    width:948px;
}
#footerMain{
	width:100%;
	height:102px;
}
#footer{
	width:948px;
	margin:0 auto;
	background:url(footer_bg.gif) 0 0 repeat-x;
	height:102px;
	position:relative;
}
#footer ul
{
    position:absolute;
	left:305px;	
    list-style-type: none;
}
#footer ul li{
	float:left;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFA;
	background-color:inherit;
}
#footer ul li a{
	padding:0 7px;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFA;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#000;
	background-color:inherit;
}
#footer p.copyright{
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFA;
	background-color:inherit;
	position:absolute;
	left:378px;
	top:53px;
}
.tx
{
    border: thin solid #000080;
    font-size: 11px;
    font-family: Verdana;
    font-weight: bold;
    padding: 2px;
}
.buttons
{
    border: 3px solid #000080;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
     padding: 2px;
}
.formField
        {
            font-size: 10px;
            font-family: sans-serif;
            color: #800000;
        }

/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
/*******************************************/

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}