<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApolloEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=129.16.213.108\SQLEXPRESS;Initial Catalog=Apollo;Persist Security Info=True;User ID=apollo;Password=apollo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>